/* ----------======  Global Styles  ======---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color: #FF900E; 
    --primary: #FFF4E7;
    /* --title: 45px; */
}
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: black;
}
img {
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.title{
    font-size: 45px;
    font-weight: 600;
}

/* ----------======  Navbar CSS styles  ======---------- */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    display: flex;
    padding: 15px;
}
.navbar ul li a{
    font-size: 18px;
    font-weight: 500;
}

/* ----------======  Banner CSS styles  ======---------- */
.banner{
    text-align: center;
}
.banner .text{
    max-width: 800px;
    margin: auto;
    padding: 80px 0;
}
.banner img{
    width: 70%;
    padding-bottom: 40px;
}
.banner .btn{
    background-color: var(--color);
    padding: 16px 28px;
    font-size: 18px;
    border: none;
    margin-top: 30px;
}
.banner .btn a{
    color: white;
}
/* ----------======  Team Section Design CSS styles  ======---------- */
.team .container{
    display: flex;
    flex: 1;
}
.team .img-grid{
    display: grid;
    grid-template-areas : 'a b'
                          'c d';
    grid-gap: 20px;
}
.team .item1{
    grid-area: a;
}
.team .item2{
    grid-area: b;
}
.team .item3{
    grid-area: c;
}
.team .item4{
    grid-area: d;
}







/* ----------======  Header Section Desing  ======---------- */
header{
    background-color: var(--color);
}






/* ----------======  Footer Section Design  ======---------- */
footer{
    background-color: #d1e0e0;
    padding: 10px 0;
}
footer p{
    margin-bottom: 0;
}








/* Remove it From here after Completing your job bro   -----------------------   */
@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
    }
    .title{
        font-size: 32px;
    }
    .banner .text{
        padding: 40px;
    }
    .banner img{
        padding-top: 20px;
    }
}
@media screen and (max-width:(768) ) {
    
}
@media screen and (max-width:(992) ) {
    
}
@media screen and (max-width:(1200) ) {
    
}